.slds-table--header-fixed_container{
  position:relative;
  padding-top:2rem;
  background-color:#fafaf9;
  overflow:hidden;
}

.slds-scrollable_y,
.slds-scrollable--y{
  -webkit-overflow-scrolling:touch;
  max-height:100%;
  overflow:hidden;
  overflow-y:auto;
}

.slds-table .slds-datepicker .slds-datepicker__month tbody > tr:hover > td{
  background-color:unset;
}

.slds-table_bordered,
.slds-table--bordered{
  border-collapse:separate;
  border-top:1px solid #dddbda;
  border-bottom:1px solid #dddbda;
}

.slds-table_header-fixed,
.slds-table--header-fixed{
  border-top:0;
}

.slds-text-title_caps,
.slds-text-title--caps{
  font-size:0.75rem;
  line-height:1.25;
  color:#3e3e3c;
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:0.0625rem;
}

.slds-picklist__label .slds-truncate{
  display:block;
}

.slds-cell-fixed{
  background-color:#fafaf9;
  position:absolute;
  top:0;
  min-height:2rem;
}